#container {
    box-shadow: 8px 2px 0px rgba(0, 0, 0, 0.2);
    background-color: lightblue;

}

#mydiv {
    animation-duration: 2s;
    animation-name: myanimation;
    background-color: blue;
}

@keyframes myanimation {
    20% {
        width: 100px;
        height: 200px;
    }

    50% {
        width: 200px;
        height: 400px;
    }

    100% {
        width: 500px;
        height: 600px;
    }
}